torch==2.0.1+cpu --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.0.2+cpu --index-url https://download.pytorch.org/whl/cpu
openai-whisper>=20231117
numpy>=1.21.0
requests>=2.31.0
packaging>=23.2
pyinstaller>=6.1
psutil>=5.9.0